

.postContainer {
    width : 80%;
    margin : 0 auto;
    border : 1px solid #ccc;
    border-radius : 5px;
}

.postContainer h3 {
    text-align : center;
    padding : 10px;
}

.inputPost {
    padding : 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputPost input {
    width : 80%;
    margin-bottom : 10px;
    border : 1px solid #ccc;
    border-radius : 5px;
}

.inputPost textarea {
    width : 80%;
    margin-bottom : 10px;
    border : 1px solid #ccc;
    border-radius : 5px;
    resize : none;
    height : 200px;
}

.inputPost button {
    width : 80%;
    padding : 10px;
    border : none;
    border-radius : 5px;
    background-color : #e9a966;
    color : #fff;
    font-weight : 600;
    cursor : pointer;
    transition : all 0.3s ease;
}

.inputPost button:hover {
    background-color : #fff;
    color : #000;
}

